@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&family=Roboto:wght@300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.font-code {
    font-family: 'Roboto Mono', monospace !important;
}

.margin-top-5 {
    margin-top: 5% !important;
}

a {
    text-decoration: none;
}

.w-95vw {
    width: 95vw;
}

.w-40p{
    width: 40%;
}

.w-60p{
    width: 60%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a:hover {
    color: #00002E !important;
}

.shadow {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px !important;
}

.projects {
    height: 750px;
    width: 90vw;
    margin: auto;
    overflow: scroll;
    overflow-x: hidden;
}


.project img {
    width: 640px;
    height: auto;
}

.icon {
    width: 28px !important;
    height: 28px !important;
}

.son {
    width: 90vw;
    margin: auto;
}

.footer-icon {
    width: 64px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C9323F; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

@media screen and (max-width : 1200px) {
    .presentation {
        margin-top: 1% !important;
        flex-direction: column !important;
        align-items: center;
    }

    .presentation article {
        width: 90%;
    }

    .presentation-img {
        margin-top: 1% !important;
        width: 90% !important;
    }

    .project img {
        width: 400px;
    }
}

@media screen and (max-width : 910px) {

    header nav {
        flex-direction: column !important;
    }

    header ul {
        flex-direction: column !important;
        text-align: center;
    }

    header li, footer li {
        margin: 5px !important;
    }

    footer ul {
        flex-direction: column !important;
    }

    .project {
        display: block !important;
    }

    .project h3 {
        padding-top: 10px;
    }

    .project img {
        width: 100%;
    }

    #experiences-formation {
        flex-direction: column !important;
        align-items: center;
    }

    .exp-forma {
        width: 90% !important;
    }

    .son audio {
        width: 250px;
    }
}